<ion-header>

    <ion-navbar>
        <ion-title>{{ 'PRODUCTS.TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="content-car">
        <div id="counter-items">{{orderData.totalItems == 0 ? '': orderData.totalItems}}</div>
        <button ion-button icon-only clear (click)="openCart()">
                <ion-icon name="ios-cart" style="color:black;"></ion-icon>
        </button>
    </div>

    <ion-card >

        <ion-card-header class="product-header-information">
            <span>{{merchantObj.merchant_name}}</span>
        </ion-card-header>

        <ion-card-content>
            <p>{{merchantObj.merchant_description}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let item of products">

        <ion-card-header class="product-header-information">
            <span>{{item.name}}</span>
        </ion-card-header>

        <ion-card-content>
            <ion-slides>
                <ion-slide *ngFor="let img of item.imgs">
                    <img [src]="img.file" class="image--large " alt="starters-html.jpg" style="max-height: 10em; width:100%;">
                </ion-slide>
            </ion-slides>
            <p>{{item.description}}</p>
            <ion-item> 
                <ion-label>Cantidad de almuerzos</ion-label> 
                <ion-select [(ngModel)]="item.variant_id" [disabled]="item.inCart" (ionChange)="selectVariant(item)">
                    <ion-option *ngFor="let variant of item.variants" [value]='variant.id'>{{variant.description}} - {{variant.unitPrice | currency }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Cantidad de dias</ion-label>
                <ion-select [(ngModel)]="item.amount"  (ionChange)="calculateTotals()" >
                    <ion-option *ngFor="let option of possibleAmounts" [value]='option.value'>{{option.value}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Total: {{item.subtotal | currency }}</ion-label>
            </ion-item>
            <ion-item *ngIf="item.type == 'meal-plan'">
                <ion-label>Precio por almuerzo: {{item.unitPrice | currency }}</ion-label>
            </ion-item>
            <ion-item *ngIf="item.type == 'meal-plan'">
                <ion-label># de almuerzos: {{item.unitLunches*item.amount }}</ion-label> 
            </ion-item>
            
            <button ion-button color="secondary" full (click)="addCart(item)" *ngIf="!item.inCart"  >agregar</button>
            <div class="content-increment-product" *ngIf="item.inCart">
                <button ion-button outline style="font-size:20px;" (click)="reduceCartItem(item)" >-</button>
                <label> {{item.amount}}</label>
                <button ion-button outline style="font-size:20px;" (click)= "increaseCartItem(item)"></button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>