<ion-header>

    <ion-navbar>
        <ion-title>{{ 'SIGNUP.TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item >
        <p>{{ 'SIGNUP.DESCRIPTION' | translate }}</p>
    </ion-item>
    <form  (submit)="doSignup()" [formGroup]="registrationForm">
        <ion-list>

            <ion-item>
                <ion-label floating>{{ 'USER.FIRSTNAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="account.firstName" formControlName="firstName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.firstName.valid  && (registrationForm.controls.firstName.dirty || submitAttempt)">
                <p>{{ 'USER.FIRSTNAME_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'USER.LASTNAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="account.lastName" formControlName="lastName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.lastName.valid  && (registrationForm.controls.lastName.dirty || submitAttempt)">
                <p>{{ 'USER.LASTNAME_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'USER.EMAIL' | translate }}</ion-label>
                <ion-input type="email" [(ngModel)]="account.email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.controls.email.valid  && (registrationForm.controls.email.dirty || submitAttempt)">
                <p>{{ 'USER.EMAIL_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'USER.MOBILE' | translate }}</ion-label>
                <ion-input type="tel" [(ngModel)]="account.cellphone" formControlName="cellphone"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.cellphone.email.valid  && (registrationForm.cellphone.email.dirty || submitAttempt)">
                <p>{{ 'USER.MOBILE_ERROR' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-label floating>{{ 'USER.PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="account.password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.cellphone.password.valid  && (registrationForm.cellphone.password.dirty || submitAttempt)">
                <p>{{ 'USER.PASSWORD_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'USER.REPEAT_PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="account.password_confirmation" formControlName="password_confirmation"></ion-input>
            </ion-item>
            <ion-item *ngIf="!registrationForm.cellphone.password.valid  && (registrationForm.cellphone.password.dirty || submitAttempt)">
                <p>{{ 'USER.REPEAT_PASSWORD_ERROR' | translate }}</p>
            </ion-item>
            <ion-item *ngIf="(passwordError || submitAttempt)">
                <p>{{ 'USER.PASSWORD_MATCH_ERROR' | translate }}</p>
            </ion-item>
            <ion-footer no-shadow>
                <input type="submit" value="{{ 'INPUTS.SUBMIT' | translate }}" />
            </ion-footer>

        </ion-list>
    </form>
</ion-content>
