<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
            <button ion-button (click)="cancel()" *ngIf="this.mapData.activeType =='Address' || this.mapData.activeType =='NewReport'">
                    <span color="primary" showWhen="ios">
                    {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>


            <button ion-button (click)="completeAddressData()" *ngIf=" this.mapData.activeType =='Address' || this.mapData.activeType =='NewReport' " strong>
                    <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>

  <div id="map_canvas" class="map-canvas"></div>
</ion-content>