<ion-header>

    <ion-navbar>
        <ion-title>{{ 'CHECKOUT_CASH.TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-item >
        <p>{{ 'CHECKOUT_CASH.DESCRIPTION' | translate }}</p>
    </ion-item>
    <ion-list>
        <ion-item >
            <ion-label>{{ 'INPUTS.MY_DATA' | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="v" (click)="useUser()"></ion-checkbox>
        </ion-item>
    </ion-list>   
    <form  (submit)="payCash()" [formGroup]="payerForm" >
        <ion-list>
            <ion-item>
                <ion-select [(ngModel)]="payer.payment_method" formControlName="payment_method">
                    <ion-option value="BALOTO">Baloto</ion-option>
                    <ion-option value="EFECTY">Efecty</ion-option>
                    <ion-option value="BANK_REFERENCED">Consignacion en banco</ion-option>
                    <ion-option value="OTHERS_CASH">Otros metodos</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!payerForm.controls.payment_method.valid  && (payerForm.controls.payment_method.dirty || submitAttempt)">
                <p>{{ 'CHECKOUT_CASH.TYPE_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="payer.payer_email" placeholder="{{ 'USER.EMAIL' | translate }}" formControlName="payer_email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!payerForm.controls.payer_email.valid  && (payerForm.controls.payer_email.dirty || submitAttempt)">
                <p>{{ 'USER.EMAIL_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <button ion-button full >{{ 'INPUTS.SUBMIT' | translate }}</button>
            </ion-item>

        </ion-list>
    </form>
</ion-content>
