<md-dialog aria-label="Cobertura">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Fuera de Cobertura</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Lo sentimos pero tus productos no están disponible para entrega en esa direccion. Hay otra dirección que quieres tratar?. Te gustaría seguir comprando? 
            </div>
        </md-dialog-content>


        <md-dialog-actions layout="row">
            <md-button ng-click="answer('map')">
                Nueva Dirección
            </md-button>
            <md-button ng-click="answer('clear')">
                Seguir comprando
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>