<ion-header>

    <ion-navbar>
        <ion-title>{{ 'CHECKOUT_PREPARE.TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item >
        <p>{{ 'CHECKOUT_PREPARE.DESCRIPTION' | translate }}</p>
    </ion-item>
    <div  *ngIf="!showPayment">
        <ion-list>
            <ion-item-sliding *ngFor="let item of currentItems" >
                <ion-item>
                    <ion-avatar item-start>
                        <img [src]="item.image" />
                    </ion-avatar>
                    <h2>{{item.name}}</h2>
                    <p>{{item.price}}</p>
                    <p>{{item.quantity}}</p>
                    <p>{{item.priceWithConditions}}</p>
                </ion-item>


                <ion-item-options>
                    <button ion-button color="danger" (click)="deleteItem(item)">
                        {{ 'DELETE_BUTTON' | translate }} 
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <p>Subtotal: {{subtotal | currency }}</p>
        <ion-list>
            <ion-item *ngFor="let item of conditions">
                <h2>{{item.getName}}</h2>
                <p>{{item.total}}</p>
            </ion-item>
        </ion-list>
        
        <p>Total: {{total | currency }}</p>
        <p>{{totalItems}}</p>
        <ion-list>
            <ion-item *ngFor="let item of payers">
                <h2>{{item.email}}</h2>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="showPayers">
            <ion-item >
                <ion-label>{{ 'CHECKOUT_PREPARE.SPLIT' | translate }}</ion-label>
                <ion-checkbox [(ngModel)]="split" ></ion-checkbox>
            </ion-item>
        </ion-list> 
        <button ion-button color="secondary" (click)="prepareOrder()">Continuar</button>
    </div>
    <ion-list *ngIf="showPayment">
        <ion-item>
            <button ion-item (click)="selectPaymentOption('CC')">
                    <h2>{{ 'CHECKOUT_PREPARE.CC' | translate }}</h2>
            </button>
        </ion-item>
        <ion-item>
            <button ion-item (click)="selectPaymentOption('Banks')">
                    <h2>{{ 'CHECKOUT_PREPARE.DEBIT' | translate }}</h2>
            </button>
        </ion-item>
        <ion-item>
            <button ion-item (click)="selectPaymentOption('Cash')">
                    <h2>{{ 'CHECKOUT_PREPARE.CASH' | translate }}</h2>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
