<ion-header>

    <ion-navbar>
        <ion-title>{{ 'CHECKOUT_PAYER.TITLE' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item >
        <p>{{ 'CHECKOUT_PAYER.DESCRIPTION' | translate }}</p>
    </ion-item>
    <ion-list *ngIf="!showAddressCard">
        <ion-item-sliding *ngFor="let item of currentItems">
            <button ion-item (click)="savePayer(item)">
                <h2>{{item.name}}</h2>
                <p>{{item.address}}</p>
            </button>
        </ion-item-sliding>
    </ion-list>
    <button *ngIf="!showAddressCard" ion-button round (click)="createAddress()">Crear Dirección</button>
    <ion-card *ngIf="showAddressCard">

        <ion-item>
            <h2>{{selectedAddress.address}}</h2>
            <p>{{selectedAddress.name}}</p>
        </ion-item>

        <ion-card-content>
            <p>{{selectedAddress.phone}}</p>
            <p>{{selectedAddress.cityName}}</p>
            <p>{{selectedAddress.regionName}}</p>
            <p>{{selectedAddress.countryName}}</p>
        </ion-card-content>
    </ion-card>
    <ion-list *ngIf="showAddressCard">
        <ion-item >
            <ion-label>{{ 'INPUTS.MY_DATA' | translate }}</ion-label>
            <ion-checkbox [(ngModel)]="v" (click)="useUser()"></ion-checkbox>
        </ion-item>
    </ion-list>   
    <form  (submit)="submitPayer()" [formGroup]="payerForm" *ngIf="showAddressCard">
        <ion-list>
            <ion-item>
                <ion-label >{{ 'USER.ID' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="payer.payer_id" formControlName="payer_id"></ion-input>
            </ion-item>
            <ion-item *ngIf="!payerForm.controls.payer_id.valid  && (payerForm.controls.payer_id.dirty || submitAttempt)">
                <p>{{ 'USER.ID_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label >{{ 'USER.NAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="payer.payer_name" formControlName="payer_name"></ion-input>
            </ion-item>
            <ion-item *ngIf="!payerForm.controls.payer_name.valid  && (payerForm.controls.payer_name.dirty || submitAttempt)">
                <p>{{ 'USER.NAME_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <ion-label >{{ 'USER.EMAIL' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="payer.payer_email" formControlName="payer_email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!payerForm.controls.payer_email.valid  && (payerForm.controls.payer_email.dirty || submitAttempt)">
                <p>{{ 'USER.EMAIL_ERROR' | translate }}</p>
            </ion-item>
            <ion-item>
                <button ion-button full >{{ 'INPUTS.SUBMIT' | translate }}</button>
            </ion-item>

        </ion-list>
    </form>
</ion-content>
